[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/refs/heads/*"]
	pushMerge = group Xiaomi Maintainers
[access "refs/heads/*"]
	create = group Xiaomi Maintainers
	push = +force group Xiaomi Maintainers
	pushMerge = group Xiaomi Maintainers
	label-Code-Review = -2..+2 group Xiaomi Maintainers
	label-Verified = -1..+1 group Xiaomi Maintainers
	submit = group Xiaomi Maintainers
